package practica7;

import java.util.Scanner;

public class Practica7 {


    public static void main(String[] args) {
         int a,b,c,d,e;
        
         
         Scanner entrada = new Scanner(System.in);
        
        
        System.out.print("Ingresa el total de kilometros conducidos por dia:");
          a = entrada.nextInt();
        System.out.print("Ingresa el costo por litros de gasolina:");
          b = entrada.nextInt();
        System.out.print("Ingresa el promedio de kilometros por litro:");
          c = entrada.nextInt();
        System.out.print("Ingresa las cuotas de estacionamiento por dia:");
          d = entrada.nextInt();
        System.out.print("peaje por dia:");
          e = entrada.nextInt();
        
         
        System.out.printf("%s %f", "El costo diario de conducir su automovil es:", ((a/c)*b*1.0)+d+e);
    }
    
}
